/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--color);
  font-family: var(--font-base), sans-serif;
  font-variation-settings: "wght" var(--wght);
  font-size: var(--font-size);
  background-image: var(--cover);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--page-bg-color);
  padding-block-start: 100px;
}

.header {
  display: grid;
  width: 100%;
}

.welcome {
  border: 2px solid var(--contour-color);
  background-color: var(--page-bg-color);
  max-inline-size: 696px;
  margin: 0 auto;
}